<h1>Dashboard#index</h1>
<p>Logged in</p>
<% if student_signed_in? %>
  <%= link_to "Sign Out", destroy_student_session_path, method: :delete, :class => 'navbar-link' %>
<% else instructor_signed_in? %>
  <%= link_to "Sign Out", destroy_instructor_session_path, method: :delete, :class => 'navbar-link' %>
<% end %>
