<div class="container">
  <h1>Sources</h1>
  <div>
    <%= render_new_link %>
  </div>
  <div class="row top-buffer">
    <div class="col-md-8">
      <% @sources.each do |s| %>
        <div class="media">
          <div class="media-body">
            <%= render_resource_for(s) %>
            <div class="links">
              <%= render_edit_delete_links(s) %>
            </div>
            </br>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
