<div class="container">
  <h1>Sources</h1>
  <div>
    <%= render_new_source_link %>
  </div>
  <div class="row top-buffer">
    <div class="col-md-8">
      <ul class="list-group">
        <% @sources.each do |s| %>
          <li class="list-group-item">
            <div class="media">
              <div class="media-body">
                <%= render_resource_for(s) %>
                <div class="links">
                  <%= render_edit_delete_source(s) %>
                </div>
                </br>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
