<div class="container">
  <h1>Assignments</h1>
  <div>
    <%= render_new_link %>
  </div>
  <div class="row top-buffer">
    <div class="col-md-6">
      <ul class="list-group">
        <% @assignments.each do |assignment| %>
          <li class="list-group-item">
            <div class="media">
              <div class="media-body">
                <h4><%= link_to assignment.name, assignment %></h4>
                <div class="links">
                  <% if instructor_signed_in? %>
                    <%= render_edit_delete_assignment(assignment) %>
                  <% end %>
                </div>
                </br>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
