<div class="container">
      <div class="media">
          <h2 class="media-heading">
            <%= current_student.firstname %> <%= current_student.lastname %>
          </h2>
      </div>
        <div class="media-body">
      <h3>Submissions</h3>
      <% current_student.submissions.each do |submission| %>
        <%= render_student_submission(submission) %>
        <%= render_delete_submission(submission) %>
        </br>
      <% end %>
    </div>
</div>
