<div class="container">
  <h1><%= current_student.firstname %> <%= current_student.lastname %></h1>
    <h3>Submissions</h3>
    <ul class="list-group">
      <% current_student.submissions.each do |submission| %>
        <li class="list-group-item">
          <div class="media">
            <div class="media=body">
              <%= render_submission_for_student(submission) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
</div>
